.hero--info {
    width: 100%;
}

h2 {
    max-width: 800px;
    line-height: 1.1;
}

p {
    max-width: 400px;
}

.banner--img {
    width: 400px;

}

.button--hero {
    width: 100%;
}

@media (max-width: 1024px) {

    .Hero--container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Hero--info {
        width: 100%;

        h2 {
            font-size: 32px;
            width: 300px;
        }
    

        p {
            width: 300px;
        }
    }




    .banner--img {
        width: 200px;
    }

    .Button--Hero--Container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    & .Hero-button {
        width: 300px;
    }
}

@media(max-width: 478px) {
    .hero--img {
        width: 200px;
    }
}
